<!-- <p>all-products works!</p> -->
<!-- appearance="standard" -->
<!-- <div class="content-body " >
    <div class="header p-3 text-center">
        <h1 style="color:black; font-weight: bold; font-size: 25px;">Students</h1>
    </div><div>
    <div class = "d-flex flex-row justify-content-center " >
      <mat-form-field>
        
        <mat-label>Search Student...</mat-label>
        <input matInput (keyup)="applyFilter($event)"  #input>
      </mat-form-field>
  </div>
    <table mat-table [dataSource]="dataSource" matSort>
     
      <ng-container matColumnDef="studentName">
        <th mat-sort-header mat-header-cell *matHeaderCellDef >StudentName.</th>
        <td mat-cell *matCellDef="let element">{{ element.studentName }}</td>
    </ng-container>
  
      <ng-container matColumnDef="educationInfo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >EducationInfo.</th>
          <td mat-cell *matCellDef="let element">{{ element.educationInfo }}</td>
      </ng-container>
  
      <ng-container matColumnDef="emailId">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header >EmailId.</th>
          <td mat-cell *matCellDef="let element">{{ element.emailId }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <mat-icon></mat-icon>
        <td class="mat-cell" colspan="4">No data found !</td>
      </tr>
      
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
  
  </div>
   -->
   

   <!-- <app-adminside></app-adminside> -->
   <!-- <app-logout-navbar></app-logout-navbar>  -->



   <p>
    <mat-toolbar style="background: rgb(21, 70, 25); box-shadow: 0 4px 2px -2px">
        <img class="forimage" src="../../assets/images/download.jpg" style="margin-bottom: 9px;"  alt="logo" />
     <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span style="margin-left: 10px; ">Smartrationing</span>
    <span class="example-spacer"></span>
    <div class="Home" style="margin-right:20px">
      <button mat-button routerLink="/AdminsideComponent" >Home</button>
    </div> 
    <div class="RationCard" style="margin-right:20px">
      <button mat-button routerLink="/AllrationcardComponent" >RationCard</button>
    </div> 
    <!-- <div class="Stocks" style="margin-right:20px">
        <button mat-button routerLink="/AllProductsComponent" >Stocks</button>
      </div>  -->
      <div class="FixedProducts" style="margin-right:20px">
        <button mat-button routerLink="/AllfixedproductsComponent" >FixedProducts</button>
      </div> 
      <div class="Orders" style="margin-right:20px">
        <button mat-button routerLink="/AllorderdetailsComponent" >Orders</button>
      </div> 
    <button class="logoutButton"  mat-icon-button [matMenuTriggerFor]="menu"  matTooltip="Log Out">
        <mat-menu #menu="matMenu">
          <!-- <button mat-menu-item *ngIf="isAdmine" (click)="onEdit()">My Profile</button> -->
          <!-- <button mat-menu-item >My Profile</button> -->
          <button mat-menu-item  routerLink="/AdminLoginComponent" >Log Out
          </button>
        </mat-menu>
        <mat-icon>power_settings_new
        </mat-icon>
      </button>
   
  </mat-toolbar>
  </p>  
      

  <div *ngIf="products.length<=0">
    <h1 style="justify-content: center;margin-left:40%;margin-top:20%;font-weight: bold;font-size:40px;">Empty Stocks</h1>
    <h2><button mat-raised-button style="background-color:rgb(34, 77, 34) ;margin-left: 600px;" (click) = "createProduct(rationAdmin)" class = "btn btn-success">Add Stocks</button></h2>
  </div>
  <div *ngIf="products.length>0">
  
   <!-- <h5><a routerLink="/AdminsideComponent" routerLinkActive="active"><button class = "btn btn-primary" style="margin-left: 1290px;  width: 5%;" >Back</button></a></h5> -->
      <div class="tab">
       
<div  class="container">
    
    <h2><button mat-raised-button style="background-color:rgb(34, 77, 34) ;margin-left: 850px;" (click) = "createProduct(rationAdmin)" class = "btn btn-success">Add Stocks</button></h2>
    <h1 style="margin-left: 450px;  font-size: 50px"> Stock List 
    </h1>

<table  class = "table table-striped table-bordered table-hover">
    <thead class="text-center">
       
       
        
        <tr style="font-size:20px;">
            <th>Name</th>
            <th> Price</th>
            <th> Quantity</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody  *ngFor="let product of products">
        <tr style="font-size:20px;text-align: center;">
            <td > {{ product.productName }} </td>
            <td> {{ product.productPrice | currency:'INR' }}/kg </td>
            <td> {{ product.quantity }} Kg </td>
            
            
             <td>
               
                <button (click) = "updateproduct(product.productId)" class = "btn btn-warning" style="margin-left: 10px">Update</button>
                <!-- <button (click) = "deleteProduct(product.productId)" class = "btn btn-danger" style="margin-left: 10px">Delete</button> -->
                <!-- <button (click) = "productDetail(product.productId)" class = "btn btn-primary" style="margin-left: 10px">View</button> -->
            </td> 
        </tr>
    </tbody>
</table>
</div> 
</div>
  </div>
