<!-- <app-logout-navbar></app-logout-navbar>  -->


<p>
  <mat-toolbar style="background: rgb(21, 70, 25); box-shadow: 0 4px 2px -2px">
      <img class="forimage" src="../../assets/images/download.jpg" style="margin-bottom: 9px;"  alt="logo" />
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span style="margin-left: 10px; ">Smartrationing</span>
  <span class="example-spacer"></span>
  <div class="Home" style="margin-right:20px">
    <button mat-button routerLink="/AdminsideComponent" >Home</button>
  </div> 
  <div class="RationCard" style="margin-right:20px">
    <button mat-button routerLink="/AllrationcardComponent" >RationCard</button>
  </div> 
   <div class="Stocks" style="margin-right:20px">
      <button mat-button routerLink="/AllProductsComponent" >Stocks</button>
    </div>  
    <div class="FixedProducts" style="margin-right:20px">
      <button mat-button routerLink="/AllfixedproductsComponent" >FixedProducts</button>
    </div> 
    <div class="Orders" style="margin-right:20px">
      <button mat-button routerLink="/AllorderdetailsComponent" >Orders</button>
    </div> 
  <button class="logoutButton"  mat-icon-button [matMenuTriggerFor]="menu"  matTooltip="Log Out">
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item *ngIf="isAdmine" (click)="onEdit()">My Profile</button> -->
        <!-- <button mat-menu-item >My Profile</button> -->
        <button mat-menu-item  routerLink="/" >Log Out
        </button>
      </mat-menu>
      <mat-icon>power_settings_new
      </mat-icon>
    </button>
 
</mat-toolbar>
</p> 



    <!-- <h1 style="color:rgb(221, 213, 213); font-weight: bold; font-size: 25px;">Add Products</h1> -->
    <div class="d-flex flex-row justify-content-center container" [hidden]="submitted" style="width: 400px;">
      <div class="row">
     
        <div  style="padding: 50px  1px;"><h1 style="color: rgb(36, 33, 33) ;font-size: 35px; ">Add Fixed Products</h1>
      <form class="form" [formGroup]="addfixedProductForm">
        <div>
            <!-- appearance="outline" -->
          <mat-form-field class="full-width" >
              <mat-label>productName</mat-label>
              <input formControlName="productName" autocomplete="off" matInput [type]="'productName'" required />
              <mat-error *ngIf="!addfixedProductForm.controls['productName'].valid">
                productName is required
              </mat-error>
          </mat-form-field>
      </div>
    
      <div>
        <mat-form-field class="full-width"  >
            <mat-label>productQuantity</mat-label>
            <input formControlName="productQuantity" (keypress)="OnlyNumbersAllowed($event)" matInput [type]="'number'" required />
            <mat-error > 
              <!-- *ngIf="!addForm.controls['educationInfo'].valid" -->
              productQuantity is required
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <!-- appearance="outline" -->
      <mat-form-field class="full-width" >
          <mat-label>productPrice</mat-label>
          <input formControlName="productPrice" (keypress)="OnlyNumbersAllowed($event)" matInput [type]="'number'" required />
          <mat-error> 
            <!-- *ngIf="!addForm.controls['educationInfo'].valid" -->
            productPrice is required
          </mat-error>
      </mat-form-field>
    </div>
    
    <div>
        <mat-form-field class="full-width" >
        <mat-select class="color" formControlName="cardType" aria-placeholder="select" placeholder="CardType" required>
       
            <mat-option value="NPHH" >NPHH</mat-option>
            <mat-option value="PHH">PHH</mat-option>
           
        </mat-select>
    </mat-form-field>
      </div>
    
    
    <div class= "d-flex flex-row p-3 justify-content-auto">
      <div [matTooltip]="'*required allField to submit '"
      [matTooltipDisabled]="addfixedProductForm.valid">
        <button type="submit" class="btn btn-success" style="margin-left:30px" [disabled]="addfixedProductForm.invalid"  (click)="onSubmit()">Submit</button>
      </div>
        <div ></div>
         <button  class="btn btn-warning ml-3 btn-space" (click)="addfixedProductForm.reset()">Cancel</button>
         <div></div>
         <!-- <button class="btn btn-primary ml-3 btn-space" (click) = "back()" style="width: 30%;"> back</button> -->
        </div>
        <div>
           
        </div>
      </form>
    </div> 
    </div>
    </div>
  

