<!-- <p>navbar works!</p> -->
<p>
    <mat-toolbar style="background: rgb(21, 70, 25); box-shadow: 0 4px 2px -2px rgba(253, 253, 253, 0.918);">
        <img src="../../assets/images/download.jpg" style="margin-bottom: 9px , " alt="logo" />
     <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <br>
    <span style="margin-left: 10px; font-size: 22PX ">Smartrationing</span>
    <span class="example-spacer"></span>
    
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button> -->
   <mat-select class="matselectclass" aria-placeholder="select" placeholder="Login" style="font-size:100%;">
   
    <mat-option value="option" routerLink="/LoginComponent">User</mat-option>
    <mat-option value="option" routerLink="/AdminLoginComponent">Admin</mat-option>
   
</mat-select>
  </mat-toolbar>
</p>

<!-- <app-adminlogin></app-adminlogin> -->
  <!-- <app-login></app-login> -->

